
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #232f34;
    padding: 0.8rem;
}

h4{
    font-weight: 700;
    font-size: 18px;
    color: #f9aa33;
}

.form-button{
    border-radius: 0.3rem;
    background-color: #f9aa33;
    color: #212121;
    padding: 0.3rem 0.8rem;
    box-sizing: border-box;
    border: 1px solid #f9aa33;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 0.4rem;
}

.form-input{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
    padding:0.3rem 0.8rem;
    border-radius: 0.3rem;
    outline: none;
}